body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.app-container {
  width: 90%;
  max-width: 900px;
  margin-top: 50px;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 i {
  margin-right: 10px; 
  color: skyblue;
}

.create-note-button {
  background-color: #ffff00;
  color: black;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.create-note-button:hover {
  background-color: #FFC000;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.note {
  background-color: goldenrod;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.note:hover {
  transform: translateY(-5px);
}

.note-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.note-header button {
  background: none;
  border: none;
  cursor: pointer;
  color: gray;
  font-size: 18px;
  transition: color 0.3s ease;
}

.note-header button:hover {
  color: black;
}

.note-body {
  font-size: 16px;
  color: #555;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #FFD580;
  height: 120px;
  overflow-y: auto;
}
